# Ignore build files
/target/
/out/

# Ignore IntelliJ project settings
.idea/
*.iml

# Ignore dependency folders
/node_modules/
/.mvn/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
